<h1><b>Usuário:</b> <%= @api_user.name %></h1>
<p><b>E-mail:</b></p>
<p><%= @api_user.email %></p>
<p><b>Chave:</b></p>
<p><%= @api_user.secret %></p>
<p><b>Token de Acesso:</b></p>
<pre><span><%= @api_user.token %></span></pre>
