// Place all the styles related to the allocation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_to {
  width: 100px;
  height: 50px;
  border-bottom: 10px;
}
