// Place all the styles related to the ApiUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


pre{
	margin-bottom: 1em;
    padding: 5px;
    padding-bottom: 20px;
    width: auto;
    max-height: 50px;
    overflow: auto;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 13px;
	
}