/*nav bar*/
.myNavBar {
    background-color: #000000;
    border-color: #e7e7e7;
}

.myNavBar .navbar-nav>li>a {
    color: #ffffff;
}

.myNavBar .myNav>li>a:focus, .myNavBar .myNav>li>a:hover {
    text-decoration: none;
    background-color: #5FBB46;
}

.myNavBar .myNav .open>a, .myNavBar .myNav .open>a:focus, .myNavBar .myNav .open>a:hover {
    background-color: #5FBB46;
    border-color: #337ab7;
}

.myNavBar .myBrand {
  color: #5FBB46;
  font-weight: bold;
}

.navbar-toggle .icon-bar {
  background-color: #5FBB46;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }
  .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #262626;
  }
}

.welcomeUser {
  margin-bottom: 50px;
  text-align: right;
}

/* Sticky footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 124px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 124px;
  background-color: #000000;
  color: #ffffff;
}

.footer .myLogo {
  margin: 15px 0;
}

.footer .myList {
  margin-top: 15px;
  list-style-type: none;
  text-align: right;
}
.footer .myList li {
  margin-top: 3px;
}

.footer .myList li a {
  color: #ffffff;
}

.footer .myList li a:hover {
  color: #5FBB46;
}

.footer .container {
  background-color: #000000;
}
/*Sticky footer END*/
