// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.school_room_reports{
	text-align: center;
}

.btn_relatorio_schoolroom{
	width: 124px;
	height:34px;
}

.reports_all, .reports_allocation, .reports_no_all{
	position: absolute;
}

.display_none{
	display: none !important;
}

.display_block{
	display:inline-block !important;
}

.pdf-icon {
  font-size: 2em;
  color: black;
}
