/* NAV BAR COLORS
 #1c1c20: navbar background
 #1c1c20;/**/ /* navbar border
 #FFF: default color
 #EEE: hover color (#FFFFFF for .nav-brand)
 #555: active color
 #D5D5D5: active background
 #37c945: Verde Logo
*/

.container.container-fluid{
  margin:0;
  padding:0;
}

/* navbar */
.navbar-default.myNav {
  background-color: #1c1c20;
  border-color: #1c1c20;
  padding: 10px;

  img {
    max-height: 80px;
    width:auto;
  }
}

@media only screen and (min-width:840px){

  .navbar-default.myNav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 50px;

    img {
      max-height: 180px;
      margin:auto;
      margin-bottom: 40px;
    }
  }
}

::selection {
  background-color: #009c4d;
  color: #FFF;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexColumn {
  flex-direction: column;
}

.alignEnd {
  align-items: flex-end;
}

/* Fontes */

@font-face {
  font-family: 'Sawasdee';
  src:url('Sawasdee.ttf');
  font-weight: normal;
  font-style: normal;
}
