/* NAV BAR COLORS
 #1c1c20: navbar background
 #1c1c20;/**/ /* navbar border
 #FFF: default color
 #EEE: hover color (#FFFFFF for .nav-brand)
 #555: active color
 #D5D5D5: active background
 #37c945: Verde Logo
*/

.container.container-fluid{
  margin:0;
  padding:0;
}

.mainContainer h1,
.mainContainer h2,
.mainContainer h3 {
  font-family: 'Sawasdee';
}

::selection {
  background-color: #009c4d;
  color: #FFF;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexColumn {
  flex-direction: column;
}

.alignEnd {
  align-items: flex-end;
}

/* Fontes */

@font-face {
  font-family: 'Sawasdee';
  src:url('Sawasdee.ttf');
  font-weight: normal;
  font-style: normal;
}
