<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Tipo</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name          %></td>
    <td><%= user.email      %></td>
    <td><%= type(user)[ :type ]%></td>
  </tr>
<% end %>
</table>
