<h1>Mensagem de Justificação</h1>
<h2>Para: <%= @user.name %></h2>
<h3>E-mail: <%= @user.email %></h3>
<form method="get" action="">
  <label>Digite a justificativa da recusa do cadastro:</label><br />
  <!-- <input type="textarea" name="justification"/> -->
  <textarea id="address" name="address" rows="10" cols="50"></textarea><br />
  <input type="submit" value="Enviar" />
</form>
<p><%= link_to 'Voltar', registration_request_path %></p>
