.myContainer form {
  margin: 30px auto;
}

.myContainer input[type="text"],
.myContainer input[type="password"],
.myContainer select {
  width: 100%;
  margin-bottom:20px;
}

.myContainer input[type="number"]{
  width: 100px;
}


.myContainer input[type="submit"] {
  width: auto;
  float: right;
}

.myContainer form label {
  font-weight: normal;
  margin: 0;
}

.myContainer form fieldset {
  margin: 20px auto;
}

.myContainer .checkbox-group label{
  margin-left: 10px;
  width: 100%;
}

.actions {
  margin-top: 10px;
}

.mainConteiner .actions {
  margin-top: 30px;
}

.formSection {
  display: flex;
}

.radioButton {
  display: flex;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.short_input select{
  margin-left: 10px;
}
