.myContainer form {
  margin: 30px auto;
}

.myContainer input {
  width: 100%;
}

.myContainer input[type="submit"] {
  width: auto;
  float: right;
}

.myContainer form label {
  font-weight: normal;
  margin: 0;
}

.myContainer form fieldset {
  margin: 20px auto;
}

/*.btn {
  border-radius: 50%;
}*/

.actions {
  margin-top: 10px;
}

.mainConteiner .actions {
  margin-top: 30px;
}

.formSection {
  display: flex;
}

.radioButton {
  display: flex;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

#school_room .short_input {
  display: table;
}

#school_room .short_input > * {
  width: 100px;
  float: left;
}

#school_room .short_input input[type="submit"] {
  margin-left: 10px;
  margin-top: 20px;
}

#school_room select{
  margin-left: 10px;
}
