/*body background*/
body {
  /*background: url(../img/fundo.png);*/
  /*background-color: #ECF0F5;*/
}

.whiteBackground {
  background-color: white;
}
/*body background END*/

.container.container-fluid{
  margin:0;
  padding:0;
}

.container.container-fluid h1,
.container.container-fluid h2,
.container.container-fluid h3 {
  font-family: 'Sawasdee';
}

.container.container-fluid  h1{
  margin: 60px 0;
}

.container.container.container-fluid.myContainer:not(#signIn) {
  width: 100vw !important;
}

.container.container-fluid .mainConteiner {
  color: #1c1c20;
  margin-bottom: 100px;
}

::selection {
  background-color: #009c4d;
  color: #FFF;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.flexColumn {
  flex-direction: column;
}

.alignEnd {
  align-items: flex-end;
}

.alertContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 250px;
  float: right;
}
.alert.alert-success,
.alert.alert-notice,
.alert.alert-error{
  border-radius:0;
  color:#FFF;
  box-shadow: 2px 2px 10px #777;
  padding:10px;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  width: 250px;
  z-index: 100;
}

.alert.alert-success {
  background: #73d97d;
}

.alert.alert-notice {
  background: #388de2;
}

.alert.alert-error {
  background: #e23838;
}

.container.container-fluid .mainConteiner.table {
  width: 100%;
}

.tableDisciplineReport > tbody > tr > td {
     vertical-align: middle;
}
/* report school room*/

.search-elements {
  display: inline-block;
}

.icon-search-submit {
  border: 0px;
  background-color: #FFFFFF;
}


.search-input {
  padding: 5%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

.search-input:focus {
  border-bottom-width: 2px;
}

.formDisciplineSearch {
  margin: 30px auto;
}

/* #erro-message {
   max-width: 200px;
} */

/* Fontes */
@font-face {
  font-family: 'Sawasdee';
  src:url('../fonts/Sawasdee.ttf');
  font-weight: normal;
  font-style: normal;
}
/*school room report*/


.report_school label{
  padding-right: 20px !important;
  margin-top: -7px !important;
}

.report_all_school_room p{
  margin-top: 20px;
  font-size: 14px;
  color: #bbbbbb;
  text-align: center;
}

.report_all_school_room h1{
  font-size: 20;
  color: #333333;
  margin-left: 20px;
}

.school_room_reports{
  margin-top: -7px !important;
  text-align: center;

}

.btn_relatorio_schoolroom{
   width: 124px;
  height:34px;
}

.reports_all, .reports_allocation, .reports_no_all{
  position: absolute;
}

.display_none{
  display: none !important;
}

.display_block{
  display:inline-block !important;
}
.title-report{
  margin-left: -200px !important;
  margin-top: -50px !important;
}

.tableViewAllocation tr th, .tableViewAllocation tr td {
  text-align: center;
  vertical-align: middle !important;
}

/*Top Bar*/
.topBar {
  width: 100%;
  height: 60px;
  background-color: #5FBB46;
}

.topBar a.btn {
  margin-top: 13px;
  margin-right: 13px;
  background-color: #000000;
  color: #5FBB46;
  border-color: #000000;
}

.topBar .welcomeUser {
  height: 60px;
  line-height: 60px;
  margin-right: 13px;
}

/*dash board*/
.info-box {
    display: block;
    min-height: 90px;
    background: #ECF0F5;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
    color: #fff !important;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
