<h1> <%= @user.name  %></h1>
  <% case permission[:level]%>
   <% when 1 %>
   <%= render partial: "users/coordinators_show",
        locals: {user: @user} %>
   <%# when 2 %>
   <%#= render partial: "users/department_assistants_show",
        locals: {user: @user} %>
    <% when 3 %>
    <%= render partial: "users/administrative_assistants_show",
         locals: {user: @user} %>
    <% end %>
